/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Add this to your App.css or index.css */
body {
  @apply font-cormorant;
}
